apify_client==2.5.0
nltk==3.9.4
pandas==2.2.2
Pillow==12.1.1
praw==7.8.1
protobuf==3.20.3
python-dotenv==1.2.2
Requests==2.33.0
streamlit==1.55.0
streamlit_lottie==0.0.5
textblob==0.19.0
streamlit
numpy
matplotlib

